.navbar > ul{
    display: flex;
    justify-content: center;
    
}

.logo,
.search-box,
.navbar-item,
.navbar-item-more { 
    list-style: none;
    background-color: #a6a6a6;
}

.navbar-item-more {
    background-color: #737373;
}

.main-wrapper {
    display: flex;
    justify-content: center;
}

.main-section {
    background-color: #737373;
    order: 2;
}

.main-section-title {
    background-color: white;
}

.main-section-content {
    background-color: #bfbfbf;
}

.left-section,
.right-section {
    background-color: #a6a6a6;
}

.left-section {
    order: 1;
}

.right-section {
    order: 3;
}
